* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 3rem;
  text-align: center;
}

.login-container h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
}

.input-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  color: #333;
  text-align: left;
}

.input-container input {
  width: 300px;
  margin: 8px 0;
}

.login-button {
  margin-top: 10px !important;
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 300px;

}

.registration-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.registration-link a {
  color: #007bff;
  text-decoration: none;
}

.registration-link a:hover {
  text-decoration: underline;
}
